.phone .loader .page-section {
	margin: auto 24px;
}

.phone .loader .page-header .titlearea {
	-ms-grid-column: 1;
	margin-top: 37px;
	margin-left: 24px;
	font-size: 28pt;
	width: calc(100vw - 20px);
}

.phone .loader .back-button {
	display: none;
}

.loader.fragment {
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 128px 1fr;
	display: -ms-grid;
	height: 100%;
	width: 100%;
    background-size: cover;
}

.loader.fragment section[role=main] {
	-ms-grid-row: 2;
	height: 100%;
	margin-top: 20px;
}

.loaderdata {
	height: 100%;
	display: -ms-grid;
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 4fr 1fr;
}

.loaderdata .info {
	display: -ms-grid;
	-ms-grid-columns: 40px 1fr 80px 1fr 120px;
	-ms-grid-rows: 1fr;
	-ms-grid-column: 1;
	-ms-grid-row: 1;
}

.loaderdata .infodata {
	-ms-grid-column: 2;
	-ms-grid-row: 1;
	display: flex;
	flex-direction: column;
	margin: 20px 40px;
	justify-content: center;
}

.loaderdata .coords {
	display: -ms-grid;
	-ms-grid-columns: 1fr 1fr;
	-ms-grid-rows: 60px 60px 60px 1fr;
	height: 180px;
	border: 0.5px solid white;
}

.loaderdata .coords div {
	border: 0.5px solid white;
	text-align: center;
	padding-top: 20px;
}

.loaderdata .loadbutton {
}

.loaderdata .playbutton {
}

.loaderdata .pic {
	-ms-grid-column: 4;
	-ms-grid-row: 1;
}

.loaderdata .pic img {
	height: 100%;
	border: 1px solid white;
	float: right;
}

.loaderdata .loaddata {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	display: -ms-grid;
	-ms-grid-rows: 1fr;
	-ms-grid-columns: 1fr;
    overflow: hidden;
}

.loaderdata .progressdata {
	height: 100%;
}

.loaderdata .progresspercentage {
	font-size: 2.5em;
}

.loaderdata .progressbar {
	border-bottom: 5px solid white;
	margin-bottom: 10px;
}

.loaderdata .buttonscontainer {
	transition: all ease-in-out 0.5s;
}

.loaderdata .buttoncontainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.phone .titlearea {
	padding-top: 20px;
}

.phone .loaderdata {
	-ms-grid-rows: 4fr 1fr;
	-ms-grid-columns: 1fr;
	height: calc(100% - 20px);
}

.phone .info {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
	display: -ms-grid;
	-ms-grid-rows: 1fr 1fr;
	-ms-grid-columns: 1fr;
	width: 100%;
	height: 100%;
}

.phone .infodata {
	-ms-grid-column: 1;
	-ms-grid-row: 2;
	margin: 5px 0;
}

.phone .pic {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.phone .pic img {
	width: 100%;
	height: auto;
}