.hubpage .win-hub-surface {
	background-size: cover;
}

.hubpage header[role=banner] {
    position: relative;
    z-index: 2;
}

.hubpage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    z-index: 1;
}

.hubpage .hub .win-hub-surface {
    height: 100%;
}

.hubpage .hub .hero {
    -ms-high-contrast-adjust: none;
    background-image: url(/images/gray.png);
    background-size: cover;
    margin-left: -80px;
    margin-right: 80px;
    padding: 0;
    width: 780px;
    opacity: 0.8;
}

    .hubpage .hub .hero:-ms-lang(ar, dv, fa, he, ku-Arab, pa-Arab, prs, ps, sd-Arab, syr, ug, ur, qps-plocm) {
        margin-left: 80px;
        margin-right: -80px;
    }

    .hubpage .hub .hero .win-hub-section-header {
        display: none;
    }

    .hubpage .hub .hero .win-hub-section-content {
    	height: 100%;
    }

    .hubpage .section {
    	min-width: 900px;
    }

    .hubpage .hubsection {
    	height: 100%;
    	display: -ms-grid;
    	-ms-grid-columns: 1fr 300px;
    	-ms-grid-rows: 1fr;
    }

    .hubpage .preview {
    	-ms-grid-column: 1;
    	-ms-grid-row: 1;
    	border: 5px solid white;
    	margin: 20px;
		margin-left: 0;
    }

    .hubpage .previewsection .preview {
		background-image: url('https://ecce1d291b455d4931046de056c9e7583c9c96ff.googledrive.com/host/0B3gomzciSBpOYThjNC1iTXJNY00/1.jpg');
    }

    .hubpage .mappersection .preview {
		background-image: url('https://ecce1d291b455d4931046de056c9e7583c9c96ff.googledrive.com/host/0B3gomzciSBpOYThjNC1iTXJNY00/2.png');
    }

    .hubpage .previewimage {
    	height: 100%;
    }

    .hubpage .previewitems {
    	margin: 20px;
    	-ms-grid-column: 2;
    	-ms-grid-row: 1;
    	display: -ms-grid;
    	-ms-grid-rows: 50px 1fr;
    	-ms-grid-columns: 1fr;
    }

    .hubpage .previewtitle {
    	-ms-grid-row: 1;
    	-ms-grid-column: 1;
    	text-align: center;
    }

    .hubpage .previewlist {
    	-ms-grid-row: 2;
    	-ms-grid-column: 1;
    }

    .hubpage .win-listview {
    	height: 100%;
    }

    .hubpage .win-listview .win-item {
    	margin: 20px 0px;
    }

    .hubpage .win-listview .win-container:first-child .win-item {
    	margin-top: 0px;
    }

    .hubpage .win-listview .win-itembox {
    	background-color: rgba(255, 255, 255, 0.3);
		transition: all ease-in-out 0.4s;
    }

    .hubpage .win-listview .win-itembox:hover {
    	background-color: rgba(255, 255, 255, 0.6);
    }

    .hubpage .previewitem {
    	padding: 25px;
    	text-align: center;
    }

    .logflyout.win-menu {
    	border-color: white;
    	background-color: rgba(255, 255, 255, 0.6);
    	width: 300px;
    	margin-left: -86px;
    	margin-top: -2px;
    }

    .section1 {
    	padding-right: 80px;
    }
		
.label-extralarge {
	font-size: 28pt;
	opacity: 1.0;
	line-height: 30pt;
}

.label-medium {
	font-size: 15pt;
	line-height: 17.5pt;
}

.label-mediummid {
	font-size: 15pt;
	opacity: 0.6;
	line-height: 17.5pt;
	margin-right: 15px;
}