.fragment {
    /* Define a grid with rows for a banner and a body */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        /* Define a grid with columns for the back button and page title. */
        -ms-grid-columns: 37px 83px 1fr 210px 37px;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] .win-navigation-backbutton {
            -ms-grid-column: 2;
            margin-top: 57px;
            position: relative;
            z-index: 1;
        }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 3;
            margin-top: 37px;
        }

            .fragment header[role=banner] .titlearea .pagetitle {
                width: calc(100% - 20px);
            }

    .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
    }

    .signstatus {
    	-ms-grid-column: 4;
    	-ms-grid-row: 1;
    }

    .sign {
    	height: 80px;
    	margin-top: 37px;
    	width: 100%;
    	display: -ms-grid;
		border: 2px solid transparent;
        transition: all ease-in-out 0.2s;
        -ms-grid-columns: 1fr 80px;
        -ms-grid-rows: 1fr;
    }

    .sign:hover {
    	border: 2px solid white;
    	background-color: rgba(255, 255, 255, 0.2);
    }

    .signstatus.pressed .sign {
    	background-color: rgba(255, 255, 255, 0.6);
		border: 2px solid white;
    }

    .signimageholder {
    	-ms-grid-column: 2;
    	-ms-grid-row: 1;
		float: left;
		width: 80px;
		height: 100%;
		overflow: hidden;
    }

    .signtextholder {
		float: right;
		height: 100%;
		color: white;
		text-align: right;
		font-size: 1.7em;
		margin: 0;
		padding-right: 10px;
		-ms-grid-column: 1;
		-ms-grid-row: 1;
    }

    .signimage {
    	background-size: cover;
    	height: 100%;
    }

    .signedout .signimage {
    	background-image: url('/images/gray.png');
    }

    .signedoutheader {
    	padding-top: 5px;
    }

    .signedin .signedinheader {
    	font-size: 1.2em;
    }

    .signedin .signedinmain {
    	font-size: 1em;
    }

    .signedin .signedinimage {
    	max-width: 100%;
    	max-height: 100%;
    }

    .contenthostblock {
    	width: 100%;
    }

#appbar {
    background-color: rgba(0, 0, 0, 0.1);
}
